.footer {
  display: flex; /* Cambiado a flex para alinear elementos en línea */
  justify-content: space-between; /* Espacio entre los elementos */
  align-items: center; /* Alinea verticalmente los elementos */
  background-color: #F6FDFF;
  color: #000; 
  padding: 20px;
  opacity: 0.5;
  font-size: small;
}

.copy {
  margin: 0; /* Sin márgenes para el texto de copyright */
}

.nav {
  display: flex; /* Mantiene la disposición en línea para los enlaces */
  gap: 10px; /* Espacio entre los enlaces */
}

.link {
  color: #000; 
  text-decoration: none; 
  transition: color 0.3s; 
}

.link:hover {
  color: #53A7BF; 
}

/* No necesitas la clase .separator si solo usas el símbolo | para separar los enlaces */
.separator {
  color: #fff; /* Puedes mantener esto si necesitas cambiar el color de algún separador */
}
